*~
*#
*so
*pcm
*.root
*.d
*backup.h
*backup
*dict*
*pyc
*linkdef.h
*map.in
*.ipynb_checkpoints
*png
*gif
*pdf
*svg
*zip
*gz
**/*backup*/**
StackedPlotMaker/signalyields/
StackedPlotMaker/yields/
StackedPlotMaker/auto_generated_jsons/
LimitCalculation/datacards/*/*/*.txt
LimitCalculation/fromCMScombine/*/*.txt
LimitCalculation/sigmaBlimits/*/*txt
!NNTrainer/
!LocalScripts/NNTrainer/trained_models/*/*.png
!LocalScripts/NNTrainer/trained_models/*/before_training/*.png
NNTrainer/trained_models/backup_*/
Systematics/yields/
Systematics/datacards
ROOT_FILES/