*~
*so
*pcm
*.root
*.d
*pyc
*#
*txt
*png
*zip
*gz
CondorSetup/previous_jobs/
*.ipynb_checkpoints
*backup.h
LocalScripts/Python/NNTrainer/old_models

!LocalScripts/Python/NNTrainer/
!LocalScripts/Python/NNTrainer/**/*.txt
!LocalScripts/Python/NNTrainer/**/*.png