*~
*#
*so
*pcm
*.root
*.d
*backup.h
*dict*
*pyc
*linkdef.h
*map.in
*.ipynb_checkpoints
*png
*pdf
*svg
*zip
*gz
**/*backup*/**
StackedPlotMaker/signalyields/
LimitCalculation/datacards/*/*/*.txt
LimitCalculation/fromCMScombine/*/*.txt
LimitCalculation/sigmaBlimits/*/*txt
!NNTrainer/
!LocalScripts/NNTrainer/trained_models/*/*.png
!LocalScripts/NNTrainer/trained_models/*/before_training/*.png
NNTrainer/trained_models/backup_*/